@import "tailwindcss";

@layer base {
  /* Dana Fonts */
  @font-face {
    font-family: "Dana";
    /* Font Weight : 400 */
    src:
      local("Dana"), url(./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2),
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium";
    /* Font Weight : 500 */
    src:
      local("Dana Medium"),
      url(./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana DemiBold";
    /* Font Weight : 600 */
    src:
      local("Dana DemiBold"),
      url(./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2), format("woff2");
    font-display: swap;
  }

  /* ------- */

  /* Morabba Fonts */
  @font-face {
    font-family: "Morabba Light";
    src:
      local("Morabba Light"),
      url(./assets/fonts/Morabba/woff2/Morabba-Light.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src:
      local("Morabba Medium"),
      url(./assets/fonts/Morabba/woff2/Morabba-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src:
      local("Morabba Bold"),
      url(./assets/fonts/Morabba/woff2/Morabba-Bold.woff2), format("woff2");
    font-display: swap;
  }
}

@layer utilities {
  .nav__active--link {
    @apply relative text-Primary font-Dana-SemiBold;
  }

  .nav__active--link::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #417f56;
  }

  .bg-hero,
  .bg-footer,
  .bg-hamburger,
  .bg-branch {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bg-hero--1 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.568) 50%, transparent 100%),
      url(./assets/images/Hero-Background-1.png);
  }

  .bg-hero--2 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.568) 50%, transparent 100%),
      url(./assets/images/Hero-Background-2.png);
  }

  .bg-hero--3 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.568) 50%, transparent 100%),
      url(./assets/images/Hero-Background-3.png);
  }

  .bg-hero--4 {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.568) 50%, transparent 100%),
      url(./assets/images/Hero-Background-4.png);
  }

  .bg-feature {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.734) 50%, transparent 100%),
      url(./assets/images/Features-Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bg-footer--image {
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.734) 50%, transparent 100%),
      url(./assets/images/Footer.png);
  }

  .bg-branch-test {
    background-image: url(./assets/images/Branch-Image-2.png);
  }

  .hamburger-menu__img {
    background-image: url(./assets/images/Top-Frame-Mobile.png);
  }

  .swiper-pagination-bullet-active {
    @apply md:!size-3 !size-2 !bg-Primary !m-0 !scale-110 !border !border-white;
  }

  .section__title {
    @apply text-base font-Dana-SemiBold md:text-2xl;
  }

  .section__body {
    @apply mt-3 md:mt-6;
  }

  .custom-scroll::-webkit-scrollbar {
    background-color: transparent;
    height: 4px;
    width: 4px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #adadad;
  }

  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }

  .old-price__offer {
    @apply text-gray-500 text-custom font-Dana relative;
  }

  .old-price__offer::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #adadad;
    margin-block: auto;
    top: -2px;
    bottom: 0;
  }

  .category__link--active {
    position: relative;
    color: #417f56;
  }

  .category__link--active::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #417f56;
    left: 0;
    right: 0;
    bottom: 0;
    @variant md {
      height: 2px;
    }
  }
}

@layer component {
  .hamburger-menu--show {
    @apply !right-0;
  }

  .hamburger-menu--close {
    @apply !-right-64;
  }

  .overlay--show {
    @apply opacity-100 visible;
  }

  .overlay--close {
    @apply opacity-0 invisible;
  }

  .food-info__card--hidden {
    @apply opacity-0 invisible;
  }

  .food-info__card--show {
    @apply opacity-100 visible;
  }

  .login-otp--hidden  { 
    @apply opacity-0 invisible
  }

  .login-otp--show {
    @apply opacity-100 visible
  } 
}

@theme {
  /* Primary Colors */
  --color-Primary: #417f56;
  --color-Tint-1: #e5f2e9;
  --color-Tint-2: #cae4d3;
  --color-Tint-3: #b0d7bd;
  --color-Tint-4: #96c9a7;
  --color-Tint-5: #7cbc91;
  --color-Tint-6: #61ae7b;
  --color-Tint-7: #4e9968;

  /* Shade Color */
  --color-Shade-1: #396f4b;
  --color-Shade-2: #315f41;
  --color-Shade-3: #294f36;
  --color-Shade-4: #21402b;
  --color-Shade-5: #183020;
  --color-Shade-6: #102016;
  --color-Shade-7: #08100b;

  /* Neutral Colors */
  --color-gray-100: #f9f9f9;
  --color-gray-200: #e1e1e1;
  --color-gray-300: #ededed;
  --color-gray-400: #cbcbcb;
  --color-gray-500: #adadad;
  --color-gray-600: #757575;
  --color-gray-700: #717171;
  --color-gray-800: #353535;
  --color-black: #0c0c0c;

  /* Status Colors */
  --color-Error: #c30000;
  --color-Error-Light: #ed2e2e;
  --color-Error-EXLight: #fff2f2;

  --color-Success: #00966d;
  --color-Success-Light: #00ba88;
  --color-Success-EXLight: #f3fdfa;

  --color-Warning: #a9791c;
  --color-Warning-Light: #f4b740;
  --color-Warning-EXLight: #fff8e1;

  /* Box Shadows */
  --shadow-1: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-4: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-6: 0px 6px 6px rgba(0, 0, 0, 0.25);
  --shadow-8: 0px 8px 8px rgba(0, 0, 0, 0.25);
  --shadow-12: 0px 12px 12px rgba(0, 0, 0, 0.25);
  --shadow-16: 0px 16px 16px rgba(0, 0, 0, 0.25);
  --shadow-drop-down: 0px 0px 6px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --font-Dana: "Dana";
  --font-Dana-Medium: "Dana Medium";
  --font-Dana-SemiBold: "Dana DemiBold";
  --font-Morabba-Light: "Morabba Light";
  --font-Morabba-Medium: "Morabba Medium";
  --font-Morabba-Bold: "Morabba Bold";

  /* Remove 2x Breake Point */
  --breakpoint-2xl: initial;
  --breakpoint-xs: 27.5rem;

  /* Font Size */
  --text-custom: 0.625rem;
}

@utility container {
  @apply mx-auto px-5 lg:px-7;
}
