@import "tailwindcss";

@layer base {
  /* Dana Fonts */
  @font-face {
    font-family: "Dana";
    /* Font Weight : 400 */
    src:
      local("Dana"), url(./assets/fonts/Dana/woff2/DanaFaNum-Regular.woff2),
      format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana Medium";
    /* Font Weight : 500 */
    src:
      local("Dana Medium"),
      url(./assets/fonts/Dana/woff2/DanaFaNum-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Dana DemiBold";
    /* Font Weight : 600 */
    src:
      local("Dana DemiBold"),
      url(./assets/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2), format("woff2");
    font-display: swap;
  }

  /* ------- */

  /* Morabba Fonts */
  @font-face {
    font-family: "Morabba Light";
    src:
      local("Morabba Light"),
      url(./assets/fonts/Morabba/woff2/Morabba-Light.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Medium";
    src:
      local("Morabba Medium"),
      url(./assets/fonts/Morabba/woff2/Morabba-Medium.woff2), format("woff2");
    font-display: swap;
  }

  @font-face {
    font-family: "Morabba Bold";
    src:
      local("Morabba Bold"),
      url(./assets/fonts/Morabba/woff2/Morabba-Bold.woff2), format("woff2");
    font-display: swap;
  }

  button { 
    border: none;
    outline: none;
  }
}

@layer component {
  .mobile-menu.is-open {
    @apply right-0;
  }

  .mobile-menu.is-closed {
    @apply -right-64;
  }

  .is-show {
    @apply opacity-100 visible;
  }

  .is-hidden {
    @apply opacity-0 invisible;
  }

  .nav__link--active {
    @apply relative text-Primary font-Dana-SemiBold;
  }

  .nav__link--active::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #417f56;
  }

  .header__button--active {
    @apply bg-Primary text-white
  }

  .mobile-profile-panel__link--active {
    @apply text-white
  }

  .progress-stepper__step--active { 
    @apply text-Primary
  }

  .progress-stepper__step--active div span {
    @apply text-xs md:text-base md:font-Dana-SemiBold
  }

  .progress-stepper__step--active div svg {
    @apply md:size-8 size-4
  }

  .progress-stepper__step--prev-active {
    @apply text-Primary
  }

  .bank-logo--active {
    @apply !border-Primary shadow-bank-card
  }

  .background-config {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero__background--one {
    background-image:
      var(--bg-gradient), url(./assets/images/hero-section/Hero-Background-1.png);
  }

  .hero__background--two {
    background-image:
      var(--bg-gradient), url(./assets/images/hero-section/Hero-Background-2.png);
  }

  .hero__background--three {
    background-image:
      var(--bg-gradient), url(./assets/images/hero-section/Hero-Background-3.png);
  }

  .hero__background--four {
    background-image:
      var(--bg-gradient), url(./assets/images/hero-section/Hero-Background-4.png);
  }

  .about-restaurant__background {
    background-image:
      var(--bg-gradient), url(./assets/images/backgrounds/About-Restaurant-Section.png);
  }

  .hero__background--about-us {
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-About-Us.png);
  }

  .hero__background--questions { 
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-Questions.png);
  }

  .hero__background--rules { 
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-Rules.png);
  }

  .hero__background--privacy { 
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-Privacy.png);
  }

  .hero__background--contact-us {
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-Contact-Us.png);
  }
  
  .hero__background--dealer-agreement { 
    background-image: var(--bg-gradient), url(./assets/images/hero-section/Hero-Dealer-Agreement.png);
  }

  .footer__background {
    background-image: var(--bg-gradient), url(./assets/images/backgrounds/Footer.png);
  }

  .mobile-menu__top-frame--img {
    background-image: url(./assets/images/backgrounds/Top-Frame-Mobile.png);
  }

  .section__title {
    @apply text-gray-800 text-base font-Dana-SemiBold md:text-2xl;
  }

  .section__body {
    @apply mt-3 md:mt-6;
  }

  .custom-scroll::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
    height: 2px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #e1e1e1;
    border-radius: 8px;
  }

  .hidden-scroll::-webkit-scrollbar {
    display: none;
  }

  .old-price--decoration {
    @apply text-gray-500 text-custom font-Dana relative;
  }

  .old-price--decoration::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #adadad;
    margin-block: auto;
    top: -2px;
    bottom: 0;
  }

  .menu__item--active {
    position: relative;
    color: #417f56;
    font-family: var(--font-Dana-SemiBold);
  }

  .menu__item--active::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #417f56;
    left: 0;
    right: 0;
    bottom: 0;
    @variant md {
      height: 2px;
    }
  }

  .mobile-menu__link--active {
    @apply text-Primary
  }

  .mobile-menu__link--active span svg { 
    @apply rotate-180
  }

  .accordion--active {
    @apply text-Primary
  }

  .accordion--active svg { 
    @apply rotate-90
  }

  .date--active {
    @apply bg-gray-200
  }

  .desktop-profile-panel__link--active { 
    @apply text-Primary relative
  }

  .desktop-profile-panel__link--active::before {
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--color-Primary);
  }

}

@layer utilities {
  .swiper-pagination-bullet-active {
    @apply md:!scale-150 !scale-200 !bg-Primary !m-0;
  }
}

@utility container {
  @apply mx-auto px-5 lg:px-7;
}

@theme {
  /* Primary Colors */
  --color-Primary: #417f56;
  --color-Tint-1: #e5f2e9;
  --color-Tint-2: #cae4d3;
  --color-Tint-3: #b0d7bd;
  --color-Tint-4: #96c9a7;
  --color-Tint-5: #7cbc91;
  --color-Tint-6: #61ae7b;
  --color-Tint-7: #4e9968;

  /* Shade Color */
  --color-Shade-1: #396f4b;
  --color-Shade-2: #315f41;
  --color-Shade-3: #294f36;
  --color-Shade-4: #21402b;
  --color-Shade-5: #183020;
  --color-Shade-6: #102016;
  --color-Shade-7: #08100b;

  /* Neutral Colors */
  --color-gray-100: #f9f9f9;
  --color-gray-200: #e1e1e1;
  --color-gray-300: #ededed;
  --color-gray-400: #cbcbcb;
  --color-gray-500: #adadad;
  --color-gray-600: #757575;
  --color-gray-700: #717171;
  --color-gray-800: #353535;
  --color-black: #0c0c0c;

  /* Status Colors */
  --color-Error: #c30000;
  --color-Error-Light: #ed2e2e;
  --color-Error-EXLight: #fff2f2;

  --color-Success: #00966d;
  --color-Success-Light: #00ba88;
  --color-Success-EXLight: #f3fdfa;

  --color-Warning: #a9791c;
  --color-Warning-Light: #f4b740;
  --color-Warning-EXLight: #fff8e1;

  /* Box Shadows */
  --shadow-1: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-4: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-6: 0px 6px 6px rgba(0, 0, 0, 0.25);
  --shadow-8: 0px 8px 8px rgba(0, 0, 0, 0.25);
  --shadow-12: 0px 12px 12px rgba(0, 0, 0, 0.25);
  --shadow-16: 0px 16px 16px rgba(0, 0, 0, 0.25);
  --shadow-bank-card: 0px 0px 4px #7CBC91;
  --shadow-drop-down: 0px 0px 6px rgba(0, 0, 0, 0.15);

  /* Fonts */
  --font-Dana: "Dana";
  --font-Dana-Medium: "Dana Medium";
  --font-Dana-SemiBold: "Dana DemiBold";
  --font-Morabba-Light: "Morabba Light";
  --font-Morabba-Medium: "Morabba Medium";
  --font-Morabba-Bold: "Morabba Bold";

  /* Remove 2x Breake Point */
  --breakpoint-2xl: initial;
  --breakpoint-xs: 27.5rem;

  /* Font Size */
  --text-custom: 0.625rem;
  --text-4.5xl: 2.5rem;
  /* Others */
  --bg-gradient: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.568) 50%,
    transparent 100%
  );
}
